.headerFluid {
    width: $fullWidth;
    height: 18vh;
    max-width: 100%;
    display: flex;
    padding: 0;
    // background: $yellow;
    // position: absolute;
    // height: 50vh;
    top: 0;
    z-index: 1;
    position: fixed;
    background: linear-gradient(-45deg,#1a1a1ab9 20%,#1a1a1a2b 55%);
    backdrop-filter: blur(5px);
    // background: linear-gradient(rgb(228, 228, 228), white , rgb(208, 208, 208));
    // border-bottom: 20px solid $yellow;
    
}